@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">

    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="~/Images/douglashalliday.jpg" /> 
            <p>Douglas Halliday in our company's first office, downtown Calgary, 1960.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="thumbnail">
            <p>Our history</p>
            <p>
                Travel Experts was incorporated in 1960 by Douglas Halliday in Calgary, Alberta.
                He recognized the need for Calgarians to take a break off work to recuperate and rejuvenate their minds and body.
                He also discovered that tourist sites in Alberta were always desolate due to lack of awareness of their existence.
                In catering to these needs, he established Travel Experts to organize tours and vacations for Calgarians and Canadians at large.
            </p>

            
        </div>
    </div>

    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="~/Images/new_office.jpg" />
            <p>Our ultra-modern office downtown Calgary, 2020. </p>
        </div>
    </div>
</div>
<hr />

<div class="row">

    <div class="col-lg-6">
        <h3>What we do</h3>
        <div class="thumbnail">
            <p>Travel Experts is a premier full service provider specializing in organizing vacations,
               weekend get-aways, destination weddings, education tours and so on. We pride ourselves of 
            delivering one-of-a-kind service in Canada. Tell us your travel wish and consider it done.</p>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="thumbnail">
            <img src="~/Images/travellers.jpg" />
        </div>
    </div>
</div>


