@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Travel Experts Tower<br />
    1 Ave, 1 Str., Calgary<br />
    T2K 5B4<br />
    AB, Canada<br />
    <abbr title="Phone">P:</abbr>
    403.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@travelexperts.com">Support@travelexperts.com</a><br />
    <strong>Booking:</strong> <a href="mailto:Booking@travelexperts.com">Booking@travelexperts.com</a>
</address>