@{
    ViewBag.Title = "Home Page";
}


    <body background=<a href="~/Images/travel.jfif"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">

                        <h1>Travel Experts</h1>
                        <h3>Travel Agency of Choice!</h3>
                        <hr>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <h3>
                    "Man cannot discover new oceans, unless he has
                    the courage to lose sight of the shore"
                </h3>
                <h5 align="right">-Andre Gide-</h5>

            </div>

        </div>
    </body>
